# SPDX-License-Identifier: GPL-2.0
menuconfig ION
	bool "Ion Memory Manager"
	depends on HAS_DMA && MMU
	select GENERIC_ALLOCATOR
	select DMA_SHARED_BUFFER
	help
	  Choose this option to enable the ION Memory Manager,
	  used by Android to efficiently allocate buffers
	  from userspace that can be shared between drivers.
	  If you're not using Android its probably safe to
	  say N here.

config ION_REMAP_OLD_HEAP_ID
	bool "Remap old heap id to updated ones"
	depends on ION
	help
	  Remap old heap id used by legacy userspace blobs
	  to updated ones.

source "drivers/staging/android/ion/heaps/Kconfig"
